/* h1{
    color:whitesmoke;
}
body{
    background:linear-gradient(to right,#9c2b09,#8ecdff);
}

/* nav ul li{
   
        padding : 0 10px 0 10px;
        margin: 5px auto;
        align-items: center;
        display: inline-flex;
        
} 
 .logo{
    flex-basis: 20%;
}
.logo img{
    float:left;
    width: 50px;
    padding: auto;
} */
/* .menu {
   text-align: right;
   /* flex:1; */
   /* justify-content: right;
    background-color: rgb(173, 173, 230); */
/* } */ 
 /* .menu a{
    text-decoration: none;
}
a:hover{

    color:crimson;

}
 a:link{
    color:cadetblue;
 }
 a:active{
    color:green;
 }
 a:visited{
    color:purple;
 }
 img{
    width:50%;
    height:50%;
 }
 p{
    float:right;
 } */ 