
 <br><br>
    <div class="container-fluid">
      <div class="row card-deck">
          <div class="card" style="width:300px;">
            <img src="assets/istockphoto-1126858679-1024x1024.jpg" class="border-bottom border-danger card-img-top card-img-bottom img-thumbnail" height="300px">
            <div class="card-body">
              <div class="card-title" class="bg-info text-center"><h5>Set item</h5></div><br>
              <div class="card-text"> Cost : Rs.300<br>
                <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star"></span>
                <div class="card-body">
                  <ul class="list-inline">
                  
                    <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">AddToCart</button></a></li>
                    <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">Buy Now</button></a></li>
                  </ul>
                </div>
            </div>
            </div>
            </div> 
            <div class="card" style="width:300px;">
              <img src="assets/istockphoto-1195557090-1024x1024.jpg" class="border-bottom border-danger card-img-top card-img-bottom img-thumbnail" height="300px">
              <div class="card-body">
                <div class="card-title" class="bg-info text-center"><h5>Set item</h5></div><br>
                <div class="card-text"> Cost : Rs.300<br>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>

                  <div class="card-body">
                    <ul class="list-inline">
                    
                      <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">AddToCart</button></a></li>
                      <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">Buy Now</button></a></li>
                    </ul>
                  </div>
              </div>
              </div> 
               </div>
              <div class="card" style="width:300px;">
                <img src="assets/istockphoto-1277517088-1024x1024.jpg" class="border-bottom border-danger card-img-top card-img-bottom img-thumbnail" height="300px">
                <div class="card-body">
                  <div class="card-title" class="bg-info text-center"><h5>Set item</h5></div><br>
                  <div class="card-text"> Cost : Rs.300<br>
                    <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star"></span>
                    <div class="card-body">
                      <ul class="list-inline">
                     
                        <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">AddToCart</button></a></li>
                        <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">Buy Now</button></a></li>
                      </ul>
                    </div>
                </div>
                </div>
                </div>
                <div class="card float-right" style="width:300px;" >
                  <img src="assets/istockphoto-1306734248-1024x1024.jpg" class="border-bottom border-danger card-img-top card-img-bottom img-thumbnail" height="300px">
                  <div class="card-body">
                    <div class="card-title" class="bg-info text-center"><h5>Ear rings</h5></div><br>
                    <div class="card-text"> Cost : Rs.150<br>
                      <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star"></span>
                      <div class="card-body">
                      <ul class="list-inline">
                      
                        <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">AddToCart</button></a></li>
                        <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">Buy Now</button></a></li>
                      </ul>
                    </div>
                    </div>
                  </div>
                  </div> 

                  <div class="card float-right" style="width:300px;" >
                    <img src="assets/istockphoto-1311469172-1024x1024.jpg" class="border-bottom border-danger card-img-top card-img-bottom img-thumbnail" height="300px">
                    <div class="card-body">
                      <div class="card-title" class="bg-info text-center"><h5>Ear rings</h5></div><br>
                      <div class="card-text"> Cost : Rs.150<br>
                        <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star"></span>
                        <div class="card-body">
                        <ul class="list-inline">
                        <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">AddToCart</button></a></li>
                        <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">Buy Now</button></a></li>
                        </ul>
                      </div>
                      </div>
                    </div>
                    </div>


                    <div class="card float-right" style="width:300px;" >
                      <img src="assets/istockphoto-1328907216-1024x1024.jpg" class="border-bottom border-danger card-img-top card-img-bottom img-thumbnail" height="300px">
                      <div class="card-body">
                        <div class="card-title" class="bg-info text-center"><h5>Ear rings</h5></div><br>
                        <div class="card-text"> Cost : Rs.200<br>
                          <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star"></span>
                          <div class="card-body">
                          <ul class="list-inline">
                          <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">AddToCart</button></a></li>
                          <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">Buy Now</button></a></li>
                          </ul>
                        </div>
                        </div>
                      </div>
                      </div> 

                      <div class="card float-right" style="width:300px;" >
                        <img src="assets/istockphoto-1329276257-1024x1024.jpg" class="border-bottom border-danger card-img-top card-img-bottom img-thumbnail" height="300px">
                        <div class="card-body">
                          <div class="card-title" class="bg-info text-center"><h5>Ear rings</h5></div><br>
                          <div class="card-text"> Cost : Rs.200<br>
                            <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star"></span>
                            <div class="card-body">
                            <ul class="list-inline">
                            <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">AddToCart</button></a></li>
                            <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">Buy Now</button></a></li>
                            </ul>
                          </div>
                          </div>
                        </div>
                        </div>

                        <div class="card float-right" style="width:300px;" >
                          <img src="assets/istockphoto-831038430-1024x1024.jpg" class="border-bottom border-danger card-img-top card-img-bottom img-thumbnail" height="300px">
                          <div class="card-body">
                            <div class="card-title" class="bg-info text-center"><h5>Set item</h5></div><br>
                            <div class="card-text"> Cost : Rs.300<br>
                              <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star"></span>
                              <div class="card-body">
                              <ul class="list-inline">
                              <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">AddToCart</button></a></li>
                              <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">Buy Now</button></a></li>
                              </ul>
                            </div>
                            </div>
                          </div>
                          </div>
   
                           <div class="card float-right" style="width:300px;" >
                            <img src="assets/istockphoto-843375068-1024x1024.jpg" class="border-bottom border-danger card-img-top card-img-bottom img-thumbnail" height="300px">
                            <div class="card-body">
                              <div class="card-title" class="bg-info text-center"><h5>Set item</h5></div><br>
                              <div class="card-text"> Cost : Rs.300<br>
                                <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star"></span>
                                <div class="card-body">
                                <ul class="list-inline">
                                <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">AddToCart</button></a></li>
                                <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">Buy Now</button></a></li>
                                </ul>
                              </div>
                              </div>
                            </div>
                            </div>



                            <div class="card float-right" style="width:300px;" >
                              <img src="assets/istockphoto-954397602-1024x1024.jpg" class="border-bottom border-danger card-img-top card-img-bottom img-thumbnail" height="300px">
                              <div class="card-body">
                                <div class="card-title" class="bg-info text-center"><h5>Platinum Ear rings</h5></div><br>
                                <div class="card-text"> Cost : Rs.500<br>
                                  <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star checked"></span>
                 <span class="fa fa-star"></span>
                                  <div class="card-body">
                                  <ul class="list-inline">
                                  <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">AddToCart</button></a></li>
                                  <li class="list-inline-item"><a class="card-link" href="#" style="text-decoration: none;"><button class="bg-primary text-white">Buy Now</button></a></li>
                                  </ul>
                                </div>
                                </div>
                              </div>
                              </div> 



          </div>
</div>



  <nav>
    <ol class="pagination pagination-md justify-content-center">
      <li class="page-item disabled"><a class="page-link" href="#" class="page-link">Previous</a></li>
      <li class="page-item active"><a class="page-link" href="#" class="page-link">1</a></li>
      <li class="page-item"><a class="page-link" href="#" class="page-link">2</a></li>
      <li class="page-item"><a class="page-link" href="#" class="page-link">3</a></li>
      <li class="page-item"><a class="page-link" href="#" class="page-link">Next</a></li>
    </ol>
  </nav>  
